<%- include('./partials/header') %>

    <h1>Aloooohhaaa, Welcome to gitPub!!</h1>
    <h3>Drink Menu</h3>
    <ul>
        <% allDrinks.forEach(function(drink, index) { %>
            <li>
                <a href="/drinks/<%= index %>">
                    <%= drink.name[0].toUpperCase() + drink.name.slice(1) %>
                </a>
            </li>
        <% }) %>
    </ul>

<%- include('./partials/footer') %>